<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="default" stopProcessing="true">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <match url="^([_0-9a-zA-Z-]+)$" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php?app={R:1}" />
                </rule>
                <rule name="defalutComTask" stopProcessing="true">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <match url="^([_0-9a-zA-Z-]+)\/?([_0-9a-zA-Z-]+)$" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php?app={R:1}&amp;task={R:2}" />
                </rule>
                <rule name="defalutComTaskParam" stopProcessing="true">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <match url="^([_0-9a-zA-Z-]+)\/?([_0-9a-zA-Z-]+)\/?([_0-9a-zA-Z-]+)$" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php?app={R:1}&amp;task={R:2}&amp;id={R:3}" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="https://www.lojascoqueiro.com.br/erro/401" responseMode="Redirect" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://www.lojascoqueiro.com.br/erro/403" responseMode="Redirect" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://www.lojascoqueiro.com.br/erro/404" responseMode="Redirect" />
            <error statusCode="405" prefixLanguageFilePath="" path="https://www.lojascoqueiro.com.br/erro/405" responseMode="Redirect" />
            <error statusCode="406" prefixLanguageFilePath="" path="https://www.lojascoqueiro.com.br/erro/406" responseMode="Redirect" />
            <error statusCode="412" prefixLanguageFilePath="" path="https://www.lojascoqueiro.com.br/erro/412" responseMode="Redirect" />
            <error statusCode="500" prefixLanguageFilePath="" path="https://www.lojascoqueiro.com.br/erro/500" responseMode="Redirect" />
            <error statusCode="501" prefixLanguageFilePath="" path="https://www.lojascoqueiro.com.br/erro/501" responseMode="Redirect" />
            <error statusCode="502" prefixLanguageFilePath="" path="https://www.lojascoqueiro.com.br/erro/502" responseMode="Redirect" />
        </httpErrors>
        <staticContent>
        	<remove fileExtension=".woff" />
        	<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        	<remove fileExtension=".woff2" />
        	<mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    	</staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>