<table>
    <tbody>
    <tr>
        <td>
            {{ content | raw }}
        </td>
    </tr>
    {#<tr>
        <td>
            <a href="%tag_unsubscribe_url%">Não receber mais e-mails desta lista</a>
        </td>
    </tr>#}
    <tr>
        <td>
            <a href="%unsubscribe_url%">Não receber mais e-mails  do Code E-mail Marketing</a>
        </td>
    </tr>
    </tbody>
</table>